################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/packages
/Skeleton.Abstraction
/Skeleton.Common
/Skeleton.Core.Caching
/Skeleton.Core.Domain
/Skeleton.Core.Reflection
/Skeleton.Documentation.Swagger/bin/Debug
/Skeleton.Documentation.Swagger/obj/Debug
/Skeleton.Infrastructure.Data
/Skeleton.Infrastructure.DependencyInjection
/Skeleton.Infrastructure.Logging
/Skeleton.Infrastructure.Orm
/Skeleton.Tests.Benchmarks/bin/Debug
/Skeleton.Tests.Benchmarks/obj/Debug
/Skeleton.Tests.Common/bin/Debug
/Skeleton.Tests.Common/obj/Debug
/Skeleton.Tests.Core/bin/Debug
/Skeleton.Tests.Core/obj/Debug
/Skeleton.Tests.Infrastructure/bin/Debug
/Skeleton.Tests.Infrastructure/obj/Debug
/Skeleton.Tests.Web/bin/Debug
/Skeleton.Tests.Web/obj/Debug
/Skeleton.Web.Client/bin/Debug
/Skeleton.Web.Client/obj/Debug
/Skeleton.Web.Server/bin/Debug
/Skeleton.Web.Server/obj/Debug
/Skeleton.Documentation.Swagger/bin/Release
/Skeleton.Documentation.Swagger/obj/Release
/Skeleton.Tests.Benchmarks/bin/Release
/Skeleton.Tests.Benchmarks/obj/Release
/Skeleton.Tests.Common/bin/Release
/Skeleton.Tests.Common/obj/Release
/Skeleton.Tests.Core/bin/Release
/Skeleton.Tests.Core/obj/Release
/Skeleton.Tests.Infrastructure/bin/Release
/Skeleton.Tests.Infrastructure/obj/Release
/Skeleton.Tests.Web/bin/Release
/Skeleton.Tests.Web/obj/Release
/Skeleton.Web.Client/bin/Release
/Skeleton.Web.Client/obj/Release
/Skeleton.Web.Server/bin/Release
/Skeleton.Web.Server/obj/Release
